{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="row justify-content-center">
    <div class="card col-8 mt-4 mb-4">
        <div class="card-body">
            <h3><b>Добоваление новой статьи</b></h3>
            <form action="{% if 'update' in request.path %}{% url 'article_update' article.pk %}{% else %}{% url 'add_article' %}{% endif %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-3 mb-3">
                    <button class="end-100 btn btn-dark" type="submit">
                        {% if 'update' in request.path %}
                        Изменить
                        {% else %}
                        Добавить статью
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
