{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title%}

{% block main %}
<div class="d-flex justify-content-center">
    <div class=" card col-12 mb-4 mt-4">
        <div class="card-body">
            <h2 class="text-center">Создать аккаунт</h2>
            <form action="{% url 'register' %}" class="row" method="post">
                {% csrf_token %}
                {% include 'components/_form_errors.html' %}
                <div class="col-4">
                    <div class="mt-2 mb-2">
                        <div class="d-flex">
                            {{ form.first_name }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        {{ form.username }}
                    </div>
                    <div class="mt-2 mb-2">
                        {{form.password1}}
                    </div>
                    <div class="mt-2 mb-2">
                        {{form.password2}}
                    </div>

                </div>

                <div class="col-4">
                    <div class="mt-2 mb-2">
                        {{form.phone_number}}
                    </div>
                    <div class="mt-2 mb-2">
                        {{ form.email }}
                    </div>
                    <div class="mt-2 mb-2">
                        {{form.address }}
                    </div>
                    <div class="mt-2 mb-2">
                        {{ form.photo }}
                    </div>
                </div>

                <div class="col-4">
                    <div class="mt-2 mb-2">
                        {{ form.instagram_link}}
                    </div>

                    <div class="mt-2 mb-2">
                        {{form.facebook_link}}
                    </div>
                    <div class="mt-2 mb-2">
                        {{form.twitter_link }}
                    </div>
                    <div class="mt-2 mb-2">
                        {{form.github }}
                    </div>

                    <button class="btn btn-primary">
                        {% if 'update' in request.path %}
                        Изменить
                        {% else %}
                        Добавить статью
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock main %}